
/*********** HEADER ************/

header {
    padding: 10px;
    background-color:rgba(128, 57, 28, 1);
    color:white;
    font-family: "Avenir", sans-serif;
    width: 100%;
    }
p{
    font-family: "Avenir";
}

h1{
    font-family: "Avenir";
    text-align: center;
    margin: 30px;
    font-weight: strong;
    font-size: 60px;
}
.menubar{
    color: white;
    text-decoration: none;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    font-family: "Avenir";
    font-size: 20px;
    display: inline-block;

}
#title{
    font-size: 40px;
    margin-right: 600px;
}
/*********** HOME ************/

#mainimage{
    position: static;
    z-index: 998;

}
.home-screen h1{
    text-align: center;
    color:rgb(105, 105, 105);
    font-family: "Avenir";
    font-size:100px;
    position: absolute;
    top: 50%;
    z-index: 999;
    margin: 0px auto;
    margin-top: 150px;
    margin-left: 400px;
}

.order-shortcut{
    padding: 100px;
    font-family: "Avenir";
    font-size: 36px;
    display: block;
    text-align: "center";
    margin: 0px auto;
    color: rgb(110, 32, 6);
    text-decoration: none;
}
#getstarted{
    background: brown;
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 30px;
    margin: 20px;
    border: 10px;
    font-family: "Avenir";
    font-size: 20px;
}
#steps-shortcut {
    text-align: left;
    font-size: 20px;
    margin: 50px;
    /* list-style-position: inside; */
    /* display: inline-block; */
}

.aboutus-shortcut{
    padding: 50px;
    font-family: Avenir;
    font-size: 20px;
    background-color: rgba(235, 200, 154, 1);
    color: white;
}
#aboutus-shortblurb{
    text-align: center;
    margin: 40px;
    font-size: 14px;
}
#learnmore{
    background: rgba(199, 134, 75, 1);
    color: white;
    padding: 15px;
    margin: 15px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 15px;

}


/*********** FOOTER ************/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "Avenir";
    font-size: 12px;
    text-align:  center;
    background-color: rgb(243, 243, 243);
    margin-top: 50px;
}



/*********** PRODUCT LIST ************/

.product-grid{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    font-family: "Avenir";
    /* grid-gap: 5px; */
    align-content: spaced-evenly; 
    text-decoration: none;
}

/* .image{
    max-width: 100%;
    height: auto;
} */

.original {
    display: block;
    margin-left: auto; 
    margin-bottom: 0;
    width: 500px;
    height: 500px;
}


.original span{
    position: relative;
    color: white;
    padding: 10px;
    font-size: 50px;
    font-weight: 500;
    margin: 5 auto;
    left: 150px;
    right: 0;
    top: -300px;
    text-align: left;
    background-color: brown;
}


.glutenfree {
    width: 500px;
    height: 500px;
    background-color: black;
}
.glutenfree span{
    position: relative;
    color: white;
    padding: 10px;
    background-color: brown;
    font-size: 50px;
    font-weight: 500;
    margin: 0px auto;
    left: 100px;
    right: 0;
    top: -300px;
    text-align: center;
    /* z-index: 100 */
}

.pumpkinspice {
    display: block;
    margin-left: auto; 
    object-fit: cover;
    width: 500px;
    height: 500px;

}
.pumpkinspice span{
    position: relative;
    color: white;
    padding: 10px;
    font-size: 50px;
    font-weight: 500;
    margin: 5px auto;
    left: 70px;
    right: 0;
    top: -300px;
    text-align: left;
    background-color: brown;
}

.caramelpecan {
    object-fit: cover;
    width: 500px;
    height: 500px;

}

.caramelpecan span{
    position: relative;
    color: white;
    padding: 10px;
    font-size: 50px;
    font-weight: 500;
    margin: 5px auto;
    left: 70px;
    right: 0;
    top: -300px;
    text-align: left;
    background-color: brown;
}

.blackberry {
    display: block;
    margin-left: auto; 
    object-fit: cover;
    text-align: center;
    width: 500px;
    height: 500px;

}
#blackberry{
    text-decoration: none
}

.blackberry span{
    position: relative;
    color: white;
    padding: 10px;
    font-size: 50px;
    font-weight: 500;
    margin: 5px auto;
    left: 10px;
    right: 0;
    top: -300px;
    text-align: left;
    background-color: brown;
    text-decoration: none;
}
.walnut {
    object-fit: cover;
    width: 500px;
    height: 500px;
}

.walnut span{
    position: relative;
    color: white;
    padding: 10px;
    font-size: 50px;
    font-weight: 500;
    margin: 5px auto;
    left: 150px;
    right: 0;
    top: -300px;
    text-align: center;
    background-color: brown;
}


/*********** BLACKBERRY ************/

.main-body{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    margin: 100px;
    
}

.numbers{
    display: inline-block;
    width: 40px;
    position: relative;
    margin-right: 15px;
    margin-top: 15px;
    
}

.cart{
    background-color: rgba(181, 115, 54, 1);
    color: white;
    font-size: 30px;
    font-family: "Avenir";
}
.order-1{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 10px;
}



.amount{
    margin-left: 75px;
    font-size: 30px;
    margin-right: 10px;
}
.details{
    display: inline-block;
    margin-left: 0px;
    font-size: 20px;
    margin-top: 20px;

}

#product-image{
    border-radius: 200px;
    margin-left: 30px;
    align-content: center;
    width: 300px;
    height: auto;
}
.order-information{
    align-content: center;
    display: grid;
    grid-template-columns: auto;
    margin-left: 40px ;
    padding: 10px;
    font-size: 20px;
    margin-top: 0px;
}
.dropdown{
    /* padding: 20px; */
    font-family: "Avenir";
    /* font-size: 20px; */
}
#options{
    font-size: 14px;
}

#choose-amount{
    font-family: "Avenir";
    font-size: 20px;
    padding: 10px;
    margin-left: 50px;
}


#change{
    display: inline;
    font-size: 10px;
    text-decoration: underline;
}

.change-edit{
    font-size: 12px;
    margin-top: 10px;
    color: white;
    word-spacing: 40px;
}

#total{
    font-size: 18px;
    display: inline-block;

}
#checkout{
    display: inline-block;
    font-family: "Avenir";
    background-color: white;
    color: rgba(181, 115, 54, 1);
    padding: 20px;
    font-size: 25px;
    text-align: left;
    width: 40%;
    margin-left: 350px;
    margin-top: 300px;
}
#checkout-text{
    color: rgba(181, 115, 54, 1);
    text-decoration: none;
}

.arrow{
    padding-left: 30px;
    display: inline;



}

#arrow-icon{
    padding-right: 10px;
    padding-left: 20px;
    vertical-align: middle;
    
}
#back-text{
    padding-bottom: 20px;
    padding-left: 10px;
    color:  rgb(79, 34, 5);
    text-decoration: none;
    font-weight: 50px;
    font-size: 20px;

}
button{
    background-color: rgb(79, 34, 5);
    color: white;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    width: fit-content;
    align-content: center;
    font-size: 15px;

}

/*********** CART PAGE ************/
#cart-page{
    width: 60%;
    align-self: center;
    position: absolute;
    margin-left: 20%;
    margin-top: 50px;
}f
#complete-payment{
    color: white;
    background-color:rgb(79, 34, 5);

}