

* {
    font-family: Lato, Tahoma, sans-serif; 
}


/* .col-1, .col-2, .col-3 {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .co1-1 {
      width: 60%;
      -webkit-order: 2;
      order: 2;
    }
  
    .col-2 {
      width: 40%;
      -webkit-order: 1;
      order: 1;
    }
  
    .col-3 {
      width: 100%;
      -webkit-order: 3;
      order: 3;
    }
  }
  
  
  @media (min-width: 800px) {
    .col-2 {
      width: 20%;
    }
  
    .col-3 {
      width: 20%;
    }
  } */

  // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { 
    .spotlight-col{ 
      width:100%
    }
   }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    .spotlight-col{ 
      width: 100%
    }
   }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { 
    .spotlight-col{ 
      width: 50%
    }
   }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { 
    .spotlight-col{ 
      width: 50%
    }
   }

.container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* width: 100%; */
}
/* .container-fluid{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
} */
/* Spotlight Page */
h1 {
    font-size: 64px;
    font-weight: medium;
}


.header-image {
    margin-bottom: 10px;
}
.header-text{
    
    position: relative;
    text-align: bottom;
    /* background: #343a40; */

}

/* Sagrada Familia */
.archive-header{
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

.content{
    margin-top: auto;
    margin-bottom: auto;
}

#center-text{
    text-align: center;
}


img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
}
.col{
  margin-right: auto;
  margin-left: auto;
}
.container-img-gal{
  width: 100%;

}

.extra-sources{
  max-width: 100%;
}