

* {
    font-family: Lato, Tahoma, sans-serif; 
}

html, body {
  overflow-x: hidden;
}

  // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { 
    .spotlight-col{ 
      /* width:100% */
    }
    .header-text{
      font-size: 24px;
    }
   }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    .spotlight-col{ 
      width: 33.3%
    }
   }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { 
    .spotlight-col{ 
      width: 25%
    }
   }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { 
    .spotlight-col{ 
      width: 25%
    }
   }

.container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* width: 100%; */
}


/* Spotlight Page */
h1 {
    font-size: 64px;
    font-weight: medium;
    margin-top: auto;
    margin-bottom: auto;
}


.header-image {
    margin-bottom: 10px;
}
.header-text{
    
    /* position: relative; */
    /* text-align: bottom; */
    /* background: #343a40; */
    margin-top: auto;
    margin-bottom: auto;

}

/* Sagrada Familia */
.archive-header{
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

.content{
    margin-top: auto;
    margin-bottom: auto;
}

#center-text{
    text-align: center;
}


img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
}
.col{
  margin-right: auto;
  margin-left: auto;
}
.container-img-gal{
  /* width: 100%; */

}

.extra-sources{
  max-width: 100%;
}