
/**BASIC TEMPLATE**/

/* source code (with edits) from: https://www.w3schools.com/howto/howto_css_full_page.asp */
body, html{
    height: 100%;
}

.headings{

    font-family: "PlayFair Display";
    font-style: italic;
    font-weight: normal;
    font-size: 53px;
    line-height: 192px;
    color: white;
    padding: 20px;
}


.background-img{
    background-image: url(background.png);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/**START PAGE**/
#gallery-walk{
    font-size: 144px;
    margin-top: auto;
    margin-bottom: auto;
}
#overlay{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    color: black;
    opacity: 0.5;
    z-index: 2;
}
#start-page-image{
    background-image: url(start_background.jpg);
    opacity: 0.45;
}