
/**BASIC TEMPLATE**/

/* source code (with edits) from: https://www.w3schools.com/howto/howto_css_full_page.asp */
body, html{
    height: 100%;
}
p{
    font-family: "Helvetica";
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:17px;
    color: white;
}

a.learn-more-artist{
    font-family: "Helvetica";
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:17px;
    color: white;
    font-weight: bold;  
}

a.learn-more-artist:hover{
    color: rgba(82, 81, 81, 1);
}


.headings{

    font-family: "PlayFair Display";
    font-style: italic;
    font-weight: normal;
    font-size: 53px;
    color: white;
}


.background-img{
    background-image: url(background.png);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


/**START PAGE**/

#gallery-walk {
    font-size: 100px;
    z-index: auto;
}

@media (min-width:768px){
    #gallery-walk {
        font-size: 144px;
        z-index: auto;
    }
}


#start-page-image{
    background-image: url(start_background.jpg);
    background-color: rgb(0, 0, 0);
}

/**APOLLO&DAPHNE**/


