body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: navy;
    background: PeachPuff;
}

#container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
}

#animal-img {
    border: 10px solid navy;
    border-radius: 10px;
    width: 500px;
    height: auto;
}


/* ● Take a look at the HTML DOM setAttribute() method for an idea on how to
change the image of your img tag */
