@font-face {
    font-family: Daubenton;
    src: url(Daubenton.otf);
  }
  
  @font-face {
    font-family: 'Daubenton';
    src: url('https://achundur.github.io/intro-to-coding/part%206/Daubenton.otf') format('otf');
    src: url('https://achundur.github.io/intro-to-coding/part%206/daubentonwebfont.woff') format('woff');
    src: url('https://achundur.github.io/intro-to-coding/part%206/daubentonwebfont.ttf') format('ttf');
    src: url('https://achundur.github.io/intro-to-coding/part%206/daubentonwebfont.svg') format('svg');
  
  }

body{
    font-size: 24px;
}

.container{
    /* display:flex; */
    width: 100vw;
    margin:auto;
    /* height: 100vh; */
}

.header-row{
    width: 100vw;
    display:flex;
    height: fit-content;
}

.header-col{
    /* width:40vw; */
    margin:20px;
    padding:15px;
    max-width: 33%;
}

/* .body-row{
    width:100vw;
    display:flex;
}

.body-col{
    width:60vw;
    margin:20px;
    padding:15px;
} */

.column {
    /* flex: 35%; */
    max-width: 33%;
    padding: 20px 20px;
    margin: 20px 3rem;

  }

  .list-container{
    padding-left:-20px;
  }
  
  .about-text{
    /* display:flex; */
    /* margin-bottom:10px; */
    padding-bottom:5px;
    /* max-width: 33%; */
    


  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 768px) {

    .column {
      /* flex: 50%; */
      max-width: 100%;
      padding: 10px 10px;
      margin: 10px 0px;
    }
    .row{
        flex-direction:column; 
    }

    /* .grid-container{
        display:grid;
        grid-template-columns:auto;
        flex-direction:column; 
        /* width: 1200px; */
        /* padding: top 100px; */
        /* margin: auto;  */
    
    } 



  @media screen and (max-width: 992px) {

    .column {
      flex: 100%;
      max-width: 100%;
      padding: 10px 20px;
      margin: 10px 0px;
    }
    .row{
        flex-direction:column; 
    }

    .grid-container{
        display:grid;
        grid-template-columns:auto;
        flex-direction:column; 
        /* width: 1200px; */
        /* padding: top 100px; */
        margin: auto; 
    
    }

  }

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color:blue;
    text-decoration-line: line-through;
}



.menu-items{
    font-family: Daubenton;
    font-size:1rem;
    text-decoration:none;
    margin-right:1.25rem;
}
#current-page{
    color:blue;
    text-decoration: line-through;
}


h1{
    font-family: Daubenton;
    font-size:2.25rem;
}

h3{
    font-family: Daubenton;
    font-size:1rem;
}

p{
    font-family:sans-serif;
    font-size:1rem;
    line-height: 1.5rem;
}


.object-link{
    /* margin-bottom:1rem; */
    font-family: Daubenton;
    font-size:1rem;
}
ul{
    list-style: none;
    line-height:2rem;
    margin-left:-20px;
}

.grid-container{
    display:flex;
    /* flex: 35%; */
    /* max-width: 33%; */
    /* padding: 20px 20px; */
    /* margin: 20px 3rem; */
    align-items: center;
    

}

.row{
    display:flex;
}

/* .grid-items{
    

} */

.home-images{
    /* flex: 35%; */
    /* max-width: 33%; */
    padding: 20px 20px;
    margin: 20px 3rem;
}

img{
    width:150px;
}

img:hover{
    scale: 1.25;
}



footer h3{
    margin:1rem;
}